<!-- ISAHAM TEMPLATE -->
<!-- FEEL FREE TO COPY AND EDIT THIS TEMPLATE TO CREATE NEW PAGE -->
<!-- HEADER NAVBAR FOOTER INCLUDED AS DEFAULT -->
%include views/production/headerv1.2.html
    <title>{{title}}</title>
    <meta name="description" content="{{title}}" />
    <meta name="twitter:card" value="{{title}}">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:image" content="https://www.isaham.my/img/isaham.png" />
    <meta property="og:description" content="{{description}}" />
</head>
<body class="h-100">
    %include views/production/navbarv1.1.html
    <div style="margin-top: 100px;">
        <!-- INSERT NEW CODE HERE -->
    </div>
</body>
%include views/production/footerv1.2.html